@{
    ViewBag.Title = "Home Page";
}

<h1>Admin Login</h1>

<form action="/Home/Registration" method="post" class="d-flex justify-content-center">
    <input type="text" class="form-control" name= "Name" placeholder="Username">
    <input type="password" class="form-control" name="Password" placeholder="Password">
    <input type="submit" class="btn btn-block" />
</form>
