
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form action="/Home/Student" method="post" class="d-flex justify-content-center">

    <input type="text" class="form-control" name="Name" placeholder="Name">
    <input type="text" class="form-control" name="ID" placeholder="ID">
    <input type="date" class="form-control" name="Dob" placeholder="Date">
    <input type="text" class="form-control" name="Credit" placeholder="Credit">
    <input type="text" class="form-control" name="CGPA" placeholder="CGPA">
    <input type="text" class="form-control" name="Dept_ID" placeholder="Dept_ID">
    <input type="submit" class="btn btn-danger">

</form>